In [1]:
import pandas as pd
import sqlite3

In [2]:
con = sqlite3.connect("shop/test.db")

In [3]:
addproduct=pd.read_sql_query("SELECT * from addproduct", con)
brand=pd.read_sql_query("SELECT * from brand", con)
events=pd.read_sql_query("SELECT * from events", con)
specsvalues=pd.read_sql_query("SELECT * from specsvalues", con)
category=pd.read_sql_query("SELECT * from category", con)
subcategories=pd.read_sql_query("SELECT * from subcategories", con)
specs=pd.read_sql_query("SELECT * from specs", con)

In [4]:
category.head()

   id              name
0   1    Men's Clothing
1   2  Women's Clothing
2   3              Kids

In [5]:
subcategories.head()

   id  category_id    name
0   2            1   Shirt
1   3            1   Jeans
2   4            1   Watch
3   5            1  Wallet
4   6            1   Shoes

In [6]:
cat_subcat=pd.merge(category,subcategories,how='left',left_on='id',right_on='category_id')

In [7]:
cat_subcat=cat_subcat[['category_id','name_x','id_y','name_y']]
cat_subcat.columns=['category_id','category','subcategory_id','subcategory']
cat_subcat.head(10)

   category_id          category  subcategory_id          subcategory
0            1    Men's Clothing               2                Shirt
1            1    Men's Clothing               3                Jeans
2            1    Men's Clothing               4                Watch
3            1    Men's Clothing               5               Wallet
4            1    Men's Clothing               6                Shoes
5            1    Men's Clothing              24              T-shirt
6            2  Women's Clothing               7                 Tops
7            2  Women's Clothing               9     Jeans & Jeggings
8            2  Women's Clothing              10       Ethnic Dresses
9            2  Women's Clothing              11  Fashion Accessories

In [8]:
product=pd.merge(addproduct,cat_subcat[['category','subcategory_id','subcategory']],how='left',on='subcategory_id')
product=product.drop(['image_1','image_2','image_3'],axis='columns')
product.head()

,id,name,price,discount,stock,colors,desc,pub_date,category_id,subcategory_id,brand_id,category,subcategory
0,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,Men's Clothing,Shirt
1,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,Men's Clothing,Shirt
2,3,Park Avenue Men's Plain Slim Fit Formal Shirt,654,0,15,"White, Blue, Black",Be noticed at work by enhancing your looks wit...,2020-07-08 15:58:57.811980,1,2,11,Men's Clothing,Shirt
3,4,Wrangler Men's Relaxed Fit Jeans,1198,5,25,"Blue, Black",Wrangler is the everyday performance denim bra...,2020-07-08 16:02:12.713819,1,3,12,Men's Clothing,Jeans
4,5,Casio G-Shock Analog-Digital Blue Dial Men's W...,6396,0,25,"Blue, Black",Mineral Glass Magnetic Resistant Shock Resista...,2020-07-08 16:05:11.097813,1,4,13,Men's Clothing,Watch

In [10]:
specifications=pd.merge(specs,specsvalues,left_on='id',right_on='spec_id')
specifications

,id_x,category_id_x,subcategory_id_x,name,id_y,product_id,category_id_y,subcategory_id_y,spec_id,value
0,1,1,None,Fit : Regular Fit,1,1,1,None,1,True
1,1,1,None,Fit : Regular Fit,3,31,1,None,1,True
2,1,1,None,Fit : Regular Fit,9,32,1,None,1,True
3,1,1,None,Fit : Regular Fit,15,33,1,None,1,True
4,1,1,None,Fit : Regular Fit,84,10,1,None,1,True
...,...,...,...,...,...,...,...,...,...,...
191,112,3,None,Letter Sounds,210,30,3,None,112,True
192,113,3,None,Spelling,207,29,3,None,113,True
193,113,3,None,Spelling,211,30,3,None,113,True
194,114,3,None,Reading Skills,208,29,3,None,114,True
195,114,3,None,Reading Skills,212,30,3,None,114,True

In [11]:
specifications=specifications.drop(['subcategory_id_x','subcategory_id_y','category_id_y','category_id_x','value','id_x','id_y'],axis='columns')

In [12]:
specifications.head()

                name  product_id  spec_id
0  Fit : Regular Fit           1        1
1  Fit : Regular Fit          31        1
2  Fit : Regular Fit          32        1
3  Fit : Regular Fit          33        1
4  Fit : Regular Fit          10        1

In [13]:
specifications=specifications[['product_id','spec_id','name']]
specifications.columns=['id','spec_id','specs']
specifications.head()

   id  spec_id              specs
0   1        1  Fit : Regular Fit
1  31        1  Fit : Regular Fit
2  32        1  Fit : Regular Fit
3  33        1  Fit : Regular Fit
4  10        1  Fit : Regular Fit

In [14]:
product=pd.merge(product,specifications,how='left',on='id')
product.head()

,id,name,price,discount,stock,colors,desc,pub_date,category_id,subcategory_id,brand_id,category,subcategory,spec_id,specs
0,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,Men's Clothing,Shirt,1,Fit : Regular Fit
1,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,Men's Clothing,Shirt,2,Sleeve Length : Long Sleeves
2,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,Men's Clothing,Shirt,2,Sleeve Length : Long Sleeves
3,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,Men's Clothing,Shirt,3,Material : Cotton
4,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,Men's Clothing,Shirt,4,Collar : Button-Down Collar

In [34]:
spec_list=product.groupby('id')['specs'].apply(list)

In [35]:
spec_str=[]
for i in spec_list:
    spec_str.append('|'.join(map(str,i)))
spec_str

['Fit : Regular Fit|Sleeve Length : Long Sleeves',
 'Sleeve Length : Long Sleeves|Material : Cotton|Collar : Button-Down Collar|Pattern : Solid|Occasion : Formal|Fit : Slim Fit|Collar : Mandarin Collar',
 'Sleeve Length : Long Sleeves|Material : Cotton|Pattern : Solid|Occasion : Formal|Fit : Slim Fit|Collar : Ainsley Collar',
 'Distress: Clean Look|Fade: Heavy Fade|Fit: Slim Fit|Waist Rise: Mid-Rise|Length: Regular|Strech: Strechable',
 'Display: Analogue and Digital|Movement : Automatic|Type: Hybrid|Features: Multi Function|Dial Shape: Round|Dial Pattern: Round',
 'Display: Analogue and Digital|Movement : Automatic|Type: Hybrid|Features: Multi Function|Dial Shape: Round|Dial Pattern: Round',
 'Length: Short|Number of Compartments: 2|Number of Slip Pockets: 1|Material: Leather|Number of Card Holder: 4',
 'Toe Shape: Round Toe|Ankle Height: Mid Top|Warranty: 2 months|Pattern: Solid|Sole Material: TPR|Fastening: Lace Ups',
 'Fastening: Lace Ups|Sport: Running|Outsole Type: Marking|Material: Mesh|Ankle Height: Regular',
 'Fit : Regular Fit|Material : Cotton|Pattern : Solid|Occasion : Casual|Sleeves : Half Sleeves|Neck: Pollo Collar',
 'Sleeves Length: Three-Quarter Sleeves|Type: Peplum|Transparency: Opaque|Print or Pattern Type: Self Design|Length:Regular',
 'Sleeves Length: Three-Quarter Sleeves|Type: Peplum|Transparency: Opaque|Print or Pattern Type: Self Design|Length:Regular',
 'Distress: Clean  Look|Fade: Light Fade|Fit: Skinny Fit|Waistbend: With Belt Loops|Waist: Low-Rise|Shade: Dark|Length: Cropped|Strech:  Strechable',
 'Top Fabric:Net| Bottom Fabric: Santoon | Dupatta Fabric: Net| Inner Fabric: Santoon|Work: Embroidered|Sleeve: Full Sleeve|Neck: Round Neck|Style: Anarkali Gown with Dupatta and Bottom|Size: Free Size',
 'Dial Color: Blue| Case Shape: Tonneau| Band Material: Patent Leather|Case Shape: Special|water-resistant for up to 3 ATM|Watch Movement Type: Quartz|Watch Display Type: Analog',
 ' Case Shape: Tonneau| Band Material: Patent Leather|Case Shape: Special|water-resistant for up to 3 ATM|Watch Movement Type: Quartz|Watch Display Type: Analog',
 'Sport:  Running|Fastening: Lace-Ups|Outsole Type: Non-Marking|Pronation for Running Shoes: Neutral|Material:  Mesh|Ankle Height:  Regular|Cleats: No Cleats|Arch Type: Medium',
 'Sleeve Length: Long Sleeves|Fit: Regular Fit|Occasion: Casual|Hemline: Curved|Collar: Spread Collar|Print or Pattern Type: Solid|Length:  Regular',
 'Sleeve Length: Long Sleeves|Fit: Regular Fit|Occasion: Casual|Hemline: Curved|Collar: Spread Collar|Print or Pattern Type: Solid|Length:  Regular',
 'Length:  Regular|Distress:  Clean Look|Fade:  Light Fade|Fit:  Regular Fit|Waistband:  With belt loops|Shade:  Medium|Stretch:  Stretchable',
 'Distress:  Clean Look|Fade:  Light Fade|Fit:  Regular Fit|Waistband:  With belt loops|Shade:  Medium|Stretch:  Stretchable',
 'Sleeve Length: No Sleeves|Type: Regular|Lining: Has a lining|Neck: Shoulder Straps|Print or Pattern Type:  Polka Dots|Transparency:  Opaque',
 'Sleeve Length: No Sleeves|Type: Regular|Lining: Has a lining|Neck: Shoulder Straps|Print or Pattern Type:  Polka Dots|Transparency:  Opaque',
 'Distress:  Clean Look|Fade:  Light Fade|Fit:  Regular Fit|Waistband:  With belt loops|Shade:  Medium|Stretch:  Stretchable',
 'Type: Flatforms|Pattern: Printed|Shoe Width: Regular|Insole: Comfort Insole|Toe Shape:  Round Toe|Ankle Height:   Regular|Sole Material:  TPR',
 'Type: Flatforms|Shoe Width: Regular|Insole: Comfort Insole|Toe Shape:  Round Toe|Ankle Height:   Regular|Sole Material:  TPR',
 'Type: Flatforms|Shoe Width: Regular|Insole: Comfort Insole|Toe Shape:  Round Toe|Ankle Height:   Regular|Sole Material:  TPR',
 'Type: Flatforms|Shoe Width: Regular|Insole: Comfort Insole|Toe Shape:  Round Toe|Ankle Height:   Regular|Sole Material:  TPR',
 'Letter Recognition|Letter Sounds|Spelling|Reading Skills',
 'Letter Recognition|Letter Sounds|Spelling|Reading Skills',
 'Fit : Regular Fit|Sleeve Length : Long Sleeves|Material : Cotton|Collar : Spread Collar|Occasion : Casual|Pattern : Buffalo Checks',
 'Fit : Regular Fit|Sleeve Length : Long Sleeves|Material : Cotton|Collar : Spread Collar|Pattern : Textured|Pattern : Tartan Checks',
 'Fit : Regular Fit|Material : Cotton|Occasion : Casual|Neck : Round Neck|Pattern : Printed|Sleeves : Half Sleeves']

In [44]:
addproduct['specs']

0        Fit : Regular Fit|Sleeve Length : Long Sleeves
1     Sleeve Length : Long Sleeves|Material : Cotton...
2     Sleeve Length : Long Sleeves|Material : Cotton...
3     Distress: Clean Look|Fade: Heavy Fade|Fit: Sli...
4     Display: Analogue and Digital|Movement : Autom...
5     Display: Analogue and Digital|Movement : Autom...
6     Length: Short|Number of Compartments: 2|Number...
7     Toe Shape: Round Toe|Ankle Height: Mid Top|War...
8     Fastening: Lace Ups|Sport: Running|Outsole Typ...
9     Fit : Regular Fit|Material : Cotton|Pattern : ...
10    Sleeves Length: Three-Quarter Sleeves|Type: Pe...
11    Sleeves Length: Three-Quarter Sleeves|Type: Pe...
12    Distress: Clean  Look|Fade: Light Fade|Fit: Sk...
13    Top Fabric:Net| Bottom Fabric: Santoon | Dupat...
14    Dial Color: Blue| Case Shape: Tonneau| Band Ma...
15     Case Shape: Tonneau| Band Material: Patent Le...
16    Sport:  Running|Fastening: Lace-Ups|Outsole Ty...
17    Sleeve Length: Long Sleeves|Fit: Regular Fit|O...
18    Sleeve Length: Long Sleeves|Fit: Regular Fit|O...
19    Length:  Regular|Distress:  Clean Look|Fade:  ...
20    Distress:  Clean Look|Fade:  Light Fade|Fit:  ...
21    Sleeve Length: No Sleeves|Type: Regular|Lining...
22    Sleeve Length: No Sleeves|Type: Regular|Lining...
23    Distress:  Clean Look|Fade:  Light Fade|Fit:  ...
24    Type: Flatforms|Pattern: Printed|Shoe Width: R...
25    Type: Flatforms|Shoe Width: Regular|Insole: Co...
26    Type: Flatforms|Shoe Width: Regular|Insole: Co...
27    Type: Flatforms|Shoe Width: Regular|Insole: Co...
28    Letter Recognition|Letter Sounds|Spelling|Read...
29    Letter Recognition|Letter Sounds|Spelling|Read...
30    Fit : Regular Fit|Sleeve Length : Long Sleeves...
31    Fit : Regular Fit|Sleeve Length : Long Sleeves...
32    Fit : Regular Fit|Material : Cotton|Occasion :...
Name: specs, dtype: object

In [45]:
cleaned = addproduct.set_index('id').specs.str.split(' ', expand=True).stack()
cleaned

id
1   0                 Fit
    1                   :
    2             Regular
    3          Fit|Sleeve
    4              Length
               ...
33  11                  :
    12    Printed|Sleeves
    13                  :
    14               Half
    15            Sleeves
Length: 513, dtype: object

In [25]:
product_id=1
subcategory=addproduct[addproduct['id']==product_id]['subcategory_id'][0]
items=addproduct[addproduct['subcategory_id']==subcategory]
items

,id,name,price,discount,stock,colors,desc,pub_date,category_id,subcategory_id,brand_id,image_1,image_2,image_3
0,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,58a16e6bee54bb2cddbf.jpg,a983bf257c13c61f6600.jpg,d2bfc40b87bceda78823.jpg
1,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,52e5a9ab0ec7bb30a1d8.jpg,6bc2786d351652afcfaf.jpg,b0fe79b775b77d9f15fb.jpg
2,3,Park Avenue Men's Plain Slim Fit Formal Shirt,654,0,15,"White, Blue, Black",Be noticed at work by enhancing your looks wit...,2020-07-08 15:58:57.811980,1,2,11,53a09ec68d5f5ab9627c.jpg,896324c13cde4988b3be.jpg,4537b9a61d8f4013fe9c.jpg
30,31,Time Travlr Men Maroon & Black Regular Fit Che...,649,0,100,Red,"Maroon and black checked casual shirt, has a s...",2020-07-09 16:36:52.039533,1,2,11,60484a12700fd4e28862.jpg,8aeef96d6a4331b41fe7.jpg,dfb132b6330e3a1d2517.jpg
31,32,Time Travlr Men Black & Grey Checked Casual Shirt,649,0,150,Black,"Black and grey checked casual shirt, has a spr...",2020-07-09 16:47:15.603108,1,2,11,3218c3582e825e5ec4f3.jpg,876efeac71732801e589.jpg,ca915e2ebc1f4e8bbfd8.jpg

In [1]:
def content_based_filtering(product_id):
    cat_subcat=pd.merge(category,subcategories,how='left',left_on='id',right_on='category_id')
    cat_subcat=cat_subcat[['category_id','name_x','id_y','name_y']]
    cat_subcat.columns=['category_id','category','subcategory_id','subcategory']
    specifications=pd.merge(specs[['id','name']],specsvalues[['spec_id','product_id']],left_on='id',right_on='spec_id')

    subcategory_id=addproduct[addproduct['id']==product_id]['subcategory_id'][0]
    items=addproduct[addproduct['subcategory_id']==subcategory_id]

    if not subcategory:
        category_id=addproduct[addproduct['id']==product_id]['category_id'][0]
        items=addproduct[addproduct['category_id']==category_id]
    product=pd.merge(items,cat_subcat[['category','subcategory_id','subcategory']],how='left',on='subcategory_id')
    product=product.drop(['image_1','image_2','image_3'],axis='columns')
    product=pd.merge(product,specifications,how='left',on='id')
    spec_list=product.groupby('id')['name_y'].apply(list)
    spec_str=[]
    for i in spec_list:
        spec_str.append('|'.join(map(str,i)))
    spec_str
    cleaned = items.set_index('id').specs.str.split('|', expand=True).stack()
    spec=pd.get_dummies(cleaned).groupby(level=0).sum()
    spec['product_id']=spec.index
    items=pd.merge(items,spec,left_on="id",right_on='product_id')
    
    return items.drop('product_id',axis='columns')['id']

content_based_filtering(1)
con.close()

NameError: name 'pd' is not defined

In [98]:
spec.iloc[0].dot(spec.iloc[3])
for i in range(len(spec.iloc[0])):
    print(spec.iloc[1][i],spec.iloc[2][i])
spec.iloc[1].dot(spec.iloc[2])

0 1
1 0
1 0
0 0
0 0
1 1
1 1
0 0
1 1
0 0
1 1
0 0
0 0
1 1

5

In [97]:
spec=spec.drop('product_id',axis='columns')

In [47]:
cat_subcat=pd.merge(category,subcategories,how='left',left_on='id',right_on='category_id')
cat_subcat=cat_subcat[['category_id','name_x','id_y','name_y']]
cat_subcat.columns=['category_id','category','subcategory_id','subcategory']
specifications=pd.merge(specs[['id','name']],specsvalues[['spec_id','product_id']],left_on='id',right_on='spec_id')

subcategory_id=addproduct[addproduct['id']==product_id]['subcategory_id'][0]
items=addproduct[addproduct['subcategory_id']==subcategory_id]

In [48]:
items

,id,name,price,discount,stock,colors,desc,pub_date,category_id,subcategory_id,brand_id,image_1,image_2,image_3,specs
0,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,58a16e6bee54bb2cddbf.jpg,a983bf257c13c61f6600.jpg,d2bfc40b87bceda78823.jpg,Fit : Regular Fit|Sleeve Length : Long Sleeves
1,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,52e5a9ab0ec7bb30a1d8.jpg,6bc2786d351652afcfaf.jpg,b0fe79b775b77d9f15fb.jpg,Sleeve Length : Long Sleeves|Material : Cotton...
2,3,Park Avenue Men's Plain Slim Fit Formal Shirt,654,0,15,"White, Blue, Black",Be noticed at work by enhancing your looks wit...,2020-07-08 15:58:57.811980,1,2,11,53a09ec68d5f5ab9627c.jpg,896324c13cde4988b3be.jpg,4537b9a61d8f4013fe9c.jpg,Sleeve Length : Long Sleeves|Material : Cotton...
30,31,Time Travlr Men Maroon & Black Regular Fit Che...,649,0,100,Red,"Maroon and black checked casual shirt, has a s...",2020-07-09 16:36:52.039533,1,2,11,60484a12700fd4e28862.jpg,8aeef96d6a4331b41fe7.jpg,dfb132b6330e3a1d2517.jpg,Fit : Regular Fit|Sleeve Length : Long Sleeves...
31,32,Time Travlr Men Black & Grey Checked Casual Shirt,649,0,150,Black,"Black and grey checked casual shirt, has a spr...",2020-07-09 16:47:15.603108,1,2,11,3218c3582e825e5ec4f3.jpg,876efeac71732801e589.jpg,ca915e2ebc1f4e8bbfd8.jpg,Fit : Regular Fit|Sleeve Length : Long Sleeves...

In [49]:
product=pd.merge(items,cat_subcat[['category','subcategory_id','subcategory']],how='left',on='subcategory_id')
product=product.drop(['image_1','image_2','image_3'],axis='columns')
product=pd.merge(product,specifications,how='left',on='id')
spec_list=product.groupby('id')['name_y'].apply(list)
spec_str=[]
for i in spec_list:
    spec_str.append('|'.join(map(str,i)))
spec_str

['Fit : Regular Fit|Fit : Regular Fit|Fit : Regular Fit|Fit : Regular Fit|Fit : Regular Fit',
 'Sleeve Length : Long Sleeves|Sleeve Length : Long Sleeves|Sleeve Length : Long Sleeves|Sleeve Length : Long Sleeves|Sleeve Length : Long Sleeves',
 'Material : Cotton|Material : Cotton|Material : Cotton|Material : Cotton|Material : Cotton|Material : Cotton',
 'Dial Shape: Round|Dial Shape: Round',
 'Dial Pattern: Round|Dial Pattern: Round']

In [57]:
cleaned = items.set_index('id').specs.str.split('|', expand=True).stack()

In [58]:
cleaned

id
1   0               Fit : Regular Fit
    1    Sleeve Length : Long Sleeves
2   0    Sleeve Length : Long Sleeves
    1               Material : Cotton
    2     Collar : Button-Down Collar
    3                 Pattern : Solid
    4               Occasion : Formal
    5                  Fit : Slim Fit
    6        Collar : Mandarin Collar
3   0    Sleeve Length : Long Sleeves
    1               Material : Cotton
    2                 Pattern : Solid
    3               Occasion : Formal
    4                  Fit : Slim Fit
    5         Collar : Ainsley Collar
31  0               Fit : Regular Fit
    1    Sleeve Length : Long Sleeves
    2               Material : Cotton
    3          Collar : Spread Collar
    4               Occasion : Casual
    5        Pattern : Buffalo Checks
32  0               Fit : Regular Fit
    1    Sleeve Length : Long Sleeves
    2               Material : Cotton
    3          Collar : Spread Collar
    4              Pattern : Textured
    5         Pattern : Tartan Checks
dtype: object

In [70]:
spec=pd.get_dummies(cleaned).groupby(level=0).sum()
spec['product_id']=spec.index
spec

,Collar : Ainsley Collar,Collar : Button-Down Collar,Collar : Mandarin Collar,Collar : Spread Collar,Fit : Regular Fit,Fit : Slim Fit,Material : Cotton,Occasion : Casual,Occasion : Formal,Pattern : Buffalo Checks,Pattern : Solid,Pattern : Tartan Checks,Pattern : Textured,Sleeve Length : Long Sleeves,product_id
id,,,,,,,,,,,,,,,
1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1
2,0,1,1,0,0,1,1,0,1,0,1,0,0,1,2
3,1,0,0,0,0,1,1,0,1,0,1,0,0,1,3
31,0,0,0,1,1,0,1,1,0,1,0,0,0,1,31
32,0,0,0,1,1,0,1,0,0,0,0,1,1,1,32

In [71]:
items=pd.merge(items,spec,left_on="id",right_on='product_id')
items

,id,name,price,discount,stock,colors,desc,pub_date,category_id,subcategory_id,...,Fit : Slim Fit,Material : Cotton,Occasion : Casual,Occasion : Formal,Pattern : Buffalo Checks,Pattern : Solid,Pattern : Tartan Checks,Pattern : Textured,Sleeve Length : Long Sleeves,product_id
0,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,...,0,0,0,0,0,0,0,0,1,1
1,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,...,1,1,0,1,0,1,0,0,1,2
2,3,Park Avenue Men's Plain Slim Fit Formal Shirt,654,0,15,"White, Blue, Black",Be noticed at work by enhancing your looks wit...,2020-07-08 15:58:57.811980,1,2,...,1,1,0,1,0,1,0,0,1,3
3,31,Time Travlr Men Maroon & Black Regular Fit Che...,649,0,100,Red,"Maroon and black checked casual shirt, has a s...",2020-07-09 16:36:52.039533,1,2,...,0,1,1,0,1,0,0,0,1,31
4,32,Time Travlr Men Black & Grey Checked Casual Shirt,649,0,150,Black,"Black and grey checked casual shirt, has a spr...",2020-07-09 16:47:15.603108,1,2,...,0,1,0,0,0,0,1,1,1,32