In [1]:
import pandas as pd
import sqlite3

In [2]:
con = sqlite3.connect("shop/test.db")

In [3]:
addproduct=pd.read_sql_query("SELECT * from addproduct", con)
brand=pd.read_sql_query("SELECT * from brand", con)
events=pd.read_sql_query("SELECT * from events", con)
specsvalues=pd.read_sql_query("SELECT * from specsvalues", con)
category=pd.read_sql_query("SELECT * from category", con)
subcategories=pd.read_sql_query("SELECT * from subcategories", con)
specs=pd.read_sql_query("SELECT * from specs", con)

In [4]:
category.head()

   id              name
0   1    Men's Clothing
1   2  Women's Clothing
2   3              Kids

In [5]:
subcategories.head()

   id  category_id    name
0   2            1   Shirt
1   3            1   Jeans
2   4            1   Watch
3   5            1  Wallet
4   6            1   Shoes

In [6]:
cat_subcat=pd.merge(category,subcategories,how='left',left_on='id',right_on='category_id')

In [7]:
cat_subcat=cat_subcat[['category_id','name_x','id_y','name_y']]
cat_subcat.columns=['category_id','category','subcategory_id','subcategory']
cat_subcat.head(10)

   category_id          category  subcategory_id          subcategory
0            1    Men's Clothing               2                Shirt
1            1    Men's Clothing               3                Jeans
2            1    Men's Clothing               4                Watch
3            1    Men's Clothing               5               Wallet
4            1    Men's Clothing               6                Shoes
5            1    Men's Clothing              24              T-shirt
6            2  Women's Clothing               7                 Tops
7            2  Women's Clothing               9     Jeans & Jeggings
8            2  Women's Clothing              10       Ethnic Dresses
9            2  Women's Clothing              11  Fashion Accessories

In [8]:
product=pd.merge(addproduct,cat_subcat[['category','subcategory_id','subcategory']],how='left',on='subcategory_id')
product=product.drop(['image_1','image_2','image_3'],axis='columns')
product.head()

,id,name,price,discount,stock,colors,desc,pub_date,category_id,subcategory_id,brand_id,category,subcategory
0,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,Men's Clothing,Shirt
1,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,Men's Clothing,Shirt
2,3,Park Avenue Men's Plain Slim Fit Formal Shirt,654,0,15,"White, Blue, Black",Be noticed at work by enhancing your looks wit...,2020-07-08 15:58:57.811980,1,2,11,Men's Clothing,Shirt
3,4,Wrangler Men's Relaxed Fit Jeans,1198,5,25,"Blue, Black",Wrangler is the everyday performance denim bra...,2020-07-08 16:02:12.713819,1,3,12,Men's Clothing,Jeans
4,5,Casio G-Shock Analog-Digital Blue Dial Men's W...,6396,0,25,"Blue, Black",Mineral Glass Magnetic Resistant Shock Resista...,2020-07-08 16:05:11.097813,1,4,13,Men's Clothing,Watch

In [10]:
specifications=pd.merge(specs,specsvalues,left_on='id',right_on='spec_id')
specifications

,id_x,category_id_x,subcategory_id_x,name,id_y,product_id,category_id_y,subcategory_id_y,spec_id,value
0,1,1,None,Fit : Regular Fit,1,1,1,None,1,True
1,1,1,None,Fit : Regular Fit,3,31,1,None,1,True
2,1,1,None,Fit : Regular Fit,9,32,1,None,1,True
3,1,1,None,Fit : Regular Fit,15,33,1,None,1,True
4,1,1,None,Fit : Regular Fit,84,10,1,None,1,True
...,...,...,...,...,...,...,...,...,...,...
191,112,3,None,Letter Sounds,210,30,3,None,112,True
192,113,3,None,Spelling,207,29,3,None,113,True
193,113,3,None,Spelling,211,30,3,None,113,True
194,114,3,None,Reading Skills,208,29,3,None,114,True
195,114,3,None,Reading Skills,212,30,3,None,114,True

In [11]:
specifications=specifications.drop(['subcategory_id_x','subcategory_id_y','category_id_y','category_id_x','value','id_x','id_y'],axis='columns')

In [12]:
specifications.head()

                name  product_id  spec_id
0  Fit : Regular Fit           1        1
1  Fit : Regular Fit          31        1
2  Fit : Regular Fit          32        1
3  Fit : Regular Fit          33        1
4  Fit : Regular Fit          10        1

In [13]:
specifications=specifications[['product_id','spec_id','name']]
specifications.columns=['id','spec_id','specs']
specifications.head()

   id  spec_id              specs
0   1        1  Fit : Regular Fit
1  31        1  Fit : Regular Fit
2  32        1  Fit : Regular Fit
3  33        1  Fit : Regular Fit
4  10        1  Fit : Regular Fit

In [14]:
product=pd.merge(product,specifications,how='left',on='id')
product.head()

,id,name,price,discount,stock,colors,desc,pub_date,category_id,subcategory_id,brand_id,category,subcategory,spec_id,specs
0,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,Men's Clothing,Shirt,1,Fit : Regular Fit
1,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,Men's Clothing,Shirt,2,Sleeve Length : Long Sleeves
2,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,Men's Clothing,Shirt,2,Sleeve Length : Long Sleeves
3,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,Men's Clothing,Shirt,3,Material : Cotton
4,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,Men's Clothing,Shirt,4,Collar : Button-Down Collar

In [32]:
spec_list=product.groupby('id')['specs'].apply(list)

In [35]:
spec_str=[]
for i in spec_list:
    spec_str.append('|'.join(map(str,i)))
spec_str

['Regular fit|Full Sleeves|100% Cotton',
 'Regular fit|Full Sleeves|100% Cotton',
 'Full Sleeves|100% Cotton|Slim fit',
 'Slim fit|Fit Type: Relaxed; Occasion: Casual',
 'Dial Color: Blue, Case Shape: Round, Dial Glass Material: Glass|Band Color: Black, Band Material: Rubber ; Function: 3 Time, Chrono, Alarm, Date, Week, EL, 12/24 Hour Clock, Count ; Band: PU, Buckle: Stainless Steel|Watch Movement Type: Quartz, Watch Display Type: Analog-Digital|Case Material: Stainless Steel, Case Diameter: 46 millimeters|Water Resistance Depth: Mild Resistance, Not for Swimming meters, Watch Movement Type: Quartz, Watch Display Type: Analog-Digital|6 months manufacturer warranty on manufacturing defects',
 'Watch Movement Type: Quartz, Watch Display Type: Analog-Digital|Case Material: Stainless Steel, Case Diameter: 46 millimeters|Water Resistance Depth: Mild Resistance, Not for Swimming meters, Watch Movement Type: Quartz, Watch Display Type: Analog-Digital|6 months manufacturer warranty on manufacturing defects',
 'Outer material: Genuine leather, Colour: Rust|Weight: 100 gms , Dimensions: 11cm x 9cm x 1.2cm ( LXBXH)|No. of Compartments: 2 currency compartments, 1 coin pocket, 5 card slots, 2 hidden pockets|Slim and Light weight',
 'Regular: Comfort|Outer material: Genuine leather, Colour: Rust|Closure: lace-up|Size: 6 UK/India|Formal Shoes',
 'Closure: Lace Up|Shoe Width: Medium|Material Type: Mesh|Lifestyle: Sports Shoes, Running Shoes|Regular: Comfort',
 'Banded collar|Half sleeve|100% Cotton',
 'Fit Type: regular fits|Material: Crepe Dry clean only Tunic Three Quarter Sleeve',
 'Care Instructions: Dry clean only|Fit Type: regular fits|Material: Crepe Dry clean only Tunic Three Quarter Sleeve',
 'Occasion: Casual|Stretch: Stretchable|Cotton|Fit type: Skinny',
 'Top Fabric:Net| Bottom Fabric: Santoon | Dupatta Fabric: Net| Inner Fabric: Santoon|Work: Embroidered | Sleeve: Full Sleeve | Neck: Round Neck|Style: Anarkali Gown with Dupatta and Bottom | Semi-Stitched Size: Free Size|Wash Care: Dry Clean Only',
 'Watch Movement Type: Quartz, Watch Display Type: Analog|Case Material: Stainless Steel, Case Diameter: 28 millimeters|Water Resistant|12 Months Manufacturer Warranty|Remove plastic at crown to start the watch|Recommended for customers looking for a small dial sized watches',
 'Dial Color: Pink, Case Shape: Round|Band Color: White, Band Material: Leather|Water Resistance Depth: 30 meters',
 'Sole: Phylon|Closure: Lace-Up|Shoe Width: Regular|Lifestyle: Sports|Warranty Type: Manufacturer',
 'Long Sleeves |Regular Fit|Casual|Spread collar|Button Placket',
 'Long Sleeves |Regular Fit|Casual|Spread collar|Button Placket',
 'Fit Type: Regular Fit|Color Name: Multi, Material: Cotton, Machine wash|Casual',
 'Fit Type: Regular Fit|Color Name: Multi, Material: Cotton, Machine wash|Casual',
 'Casual|Sleeveless',
 'Casual|Sleeveless',
 'Regular Fit|Casual|100% jeans',
 'Sports|Soft Cushion',
 'Sports|Soft Cushion',
 'Sports|Soft Cushion',
 'Sports|Soft Cushion',
 'Letter Recognitions|Letter Sounds |Spelling|Reading Skills',
 'Letter Recognitions|Letter Sounds |Spelling|Reading Skills']

In [ ]:
cleaned = d.set_index('product_id').spec_str.str.split(' ', expand=True).stack()
cleaned

In [25]:
product_id=1
subcategory=addproduct[addproduct['id']==product_id]['subcategory_id'][0]
items=addproduct[addproduct['subcategory_id']==subcategory]
items

,id,name,price,discount,stock,colors,desc,pub_date,category_id,subcategory_id,brand_id,image_1,image_2,image_3
0,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,58a16e6bee54bb2cddbf.jpg,a983bf257c13c61f6600.jpg,d2bfc40b87bceda78823.jpg
1,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,52e5a9ab0ec7bb30a1d8.jpg,6bc2786d351652afcfaf.jpg,b0fe79b775b77d9f15fb.jpg
2,3,Park Avenue Men's Plain Slim Fit Formal Shirt,654,0,15,"White, Blue, Black",Be noticed at work by enhancing your looks wit...,2020-07-08 15:58:57.811980,1,2,11,53a09ec68d5f5ab9627c.jpg,896324c13cde4988b3be.jpg,4537b9a61d8f4013fe9c.jpg
30,31,Time Travlr Men Maroon & Black Regular Fit Che...,649,0,100,Red,"Maroon and black checked casual shirt, has a s...",2020-07-09 16:36:52.039533,1,2,11,60484a12700fd4e28862.jpg,8aeef96d6a4331b41fe7.jpg,dfb132b6330e3a1d2517.jpg
31,32,Time Travlr Men Black & Grey Checked Casual Shirt,649,0,150,Black,"Black and grey checked casual shirt, has a spr...",2020-07-09 16:47:15.603108,1,2,11,3218c3582e825e5ec4f3.jpg,876efeac71732801e589.jpg,ca915e2ebc1f4e8bbfd8.jpg

In [30]:
def content_based_filtering(product_id):
    cat_subcat=pd.merge(category,subcategories,how='left',left_on='id',right_on='category_id')
    cat_subcat=cat_subcat[['category_id','name_x','id_y','name_y']]
    cat_subcat.columns=['category_id','category','subcategory_id','subcategory']
    specifications=pd.merge(specs[['id','name']],specsvalues[['spec_id','product_id']],left_on='id',right_on='spec_id')

    subcategory_id=addproduct[addproduct['id']==product_id]['subcategory_id'][0]
    items=addproduct[addproduct['subcategory_id']==subcategory_id]

    if not subcategory:
        category_id=addproduct[addproduct['id']==product_id]['category_id'][0]
        items=addproduct[addproduct['category_id']==category_id]
    product=pd.merge(items,cat_subcat[['category','subcategory_id','subcategory']],how='left',on='subcategory_id')
    product=product.drop(['image_1','image_2','image_3'],axis='columns')
    product=pd.merge(product,specifications,how='left',on='id')
    spec_list=product.groupby('id')['name_y'].apply(list)

    return product

content_based_filtering(1)

,id,name_x,price,discount,stock,colors,desc,pub_date,category_id,subcategory_id,brand_id,category,subcategory,name_y,spec_id,product_id
0,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,Men's Clothing,Shirt,Fit : Regular Fit,1,1
1,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,Men's Clothing,Shirt,Fit : Regular Fit,1,31
2,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,Men's Clothing,Shirt,Fit : Regular Fit,1,32
3,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,Men's Clothing,Shirt,Fit : Regular Fit,1,33
4,1,Allen Solly Men's Plain Slim Fit Casual Shirt,699,0,25,"Blue, Purple, Black",Allen solly Mens Cotton Full sleeve Overdyed s...,2020-07-08 15:54:29.990947,1,2,8,Men's Clothing,Shirt,Fit : Regular Fit,1,10
5,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,Men's Clothing,Shirt,Sleeve Length : Long Sleeves,2,1
6,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,Men's Clothing,Shirt,Sleeve Length : Long Sleeves,2,31
7,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,Men's Clothing,Shirt,Sleeve Length : Long Sleeves,2,32
8,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,Men's Clothing,Shirt,Sleeve Length : Long Sleeves,2,2
9,2,Park Avenue Men's Solid Slim Fit Formal Shirt,563,0,15,"White, Blue, Khaki",This classic shirt from Park Avenue is a versa...,2020-07-08 15:57:00.755305,1,2,11,Men's Clothing,Shirt,Sleeve Length : Long Sleeves,2,3
10,3,Park Avenue Men's Plain Slim Fit Formal Shirt,654,0,15,"White, Blue, Black",Be noticed at work by enhancing your looks wit...,2020-07-08 15:58:57.811980,1,2,11,Men's Clothing,Shirt,Material : Cotton,3,31
11,3,Park Avenue Men's Plain Slim Fit Formal Shirt,654,0,15,"White, Blue, Black",Be noticed at work by enhancing your looks wit...,2020-07-08 15:58:57.811980,1,2,11,Men's Clothing,Shirt,Material : Cotton,3,32
12,3,Park Avenue Men's Plain Slim Fit Formal Shirt,654,0,15,"White, Blue, Black",Be noticed at work by enhancing your looks wit...,2020-07-08 15:58:57.811980,1,2,11,Men's Clothing,Shirt,Material : Cotton,3,33
13,3,Park Avenue Men's Plain Slim Fit Formal Shirt,654,0,15,"White, Blue, Black",Be noticed at work by enhancing your looks wit...,2020-07-08 15:58:57.811980,1,2,11,Men's Clothing,Shirt,Material : Cotton,3,2
14,3,Park Avenue Men's Plain Slim Fit Formal Shirt,654,0,15,"White, Blue, Black",Be noticed at work by enhancing your looks wit...,2020-07-08 15:58:57.811980,1,2,11,Men's Clothing,Shirt,Material : Cotton,3,3
15,3,Park Avenue Men's Plain Slim Fit Formal Shirt,654,0,15,"White, Blue, Black",Be noticed at work by enhancing your looks wit...,2020-07-08 15:58:57.811980,1,2,11,Men's Clothing,Shirt,Material : Cotton,3,10
16,31,Time Travlr Men Maroon & Black Regular Fit Che...,649,0,100,Red,"Maroon and black checked casual shirt, has a s...",2020-07-09 16:36:52.039533,1,2,11,Men's Clothing,Shirt,Dial Shape: Round,31,5
17,31,Time Travlr Men Maroon & Black Regular Fit Che...,649,0,100,Red,"Maroon and black checked casual shirt, has a s...",2020-07-09 16:36:52.039533,1,2,11,Men's Clothing,Shirt,Dial Shape: Round,31,6
18,32,Time Travlr Men Black & Grey Checked Casual Shirt,649,0,150,Black,"Black and grey checked casual shirt, has a spr...",2020-07-09 16:47:15.603108,1,2,11,Men's Clothing,Shirt,Dial Pattern: Round,32,5
19,32,Time Travlr Men Black & Grey Checked Casual Shirt,649,0,150,Black,"Black and grey checked casual shirt, has a spr...",2020-07-09 16:47:15.603108,1,2,11,Men's Clothing,Shirt,Dial Pattern: Round,32,6